</div>
<div class="catecontent">
<div style="margin: 0px; padding: 0px; width: 120px; text-align: center; font-weight: bold; float: left;">友情链接</div> 
<div style="margin: 0px; padding: 0px; width: 120px; text-align: center; float: left;"><a style="color: rgb(86, 116, 164);" href="http://www.industry.siemens.com.cn/automation/cn/zh/Pages/Default.aspx" target="_blank">SIEMENS</a></div>
<div style="margin: 0px; padding: 0px; width: 120px; text-align: center; float: left;"><a style="color: rgb(86, 116, 164);" href="http://www.fanuc.co.jp/" target="_blank">FANUC</a></div>
<div style="margin: 0px; padding: 0px; width: 120px; text-align: center; float: left;"><a style="color: rgb(86, 116, 164);" href="http://cn.mitsubishielectric.com/fa/zh/index.asp" target="_blank">MITSUBISH</a></div> 
 </div>
        <div style="clear: both;"></div>
        <!-- #BeginLibraryItem "/Library/down.lbi" -->
        <div style="margin: 20px auto; height: 60px; max-width: 1160px; background-color: rgb(25, 25, 25);">
            <div class="footer">
                天津慧通科技有限责任公司 
    <!--| <A style="color: rgb(204, 204, 204);" 
href="#" target="_blank">闽ICP备11018880号-2</A>-->
               @* <script language="JavaScript" src="index_files/stat.js"></script>*@
                <br>
             @*   <img width="258" height="33" alt=""
                    src="~/index_files/cx_42.jpg">*@
            </div>
        </div>
        <!-- #EndLibraryItem -->
    </div>
    <div id="xixi" onmouseover="toBig()" onmouseout="toSmall()">
        <table width="157" style="float: left;" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td height="39" class="main_head" valign="top">&nbsp;</td>
                </tr>
              @*  <tr>
                    <td class="info" valign="top">
                        <table width="120" align="center" class="qqtable" border="0" cellspacing="0"
                            cellpadding="0">
                            <tbody>
                                <tr>
                                    <td align="middle">
                                        <img width="110" height="60" src="index_files/kefu_head.jpg"
                                            border="0" /></td>
                                </tr>
                                <tr>
                                    <td height="5"></td>
                                </tr>
                                <tr>
                                    <td height="5" align="center"
                                        style="font-size: 11px;">客服QQ1:2284865062</td>
                                </tr>
                                <tr>
                                    <td height="38" align="center" valign="top"
                                        style="font-size: 12px;"><a href="http://wpa.qq.com/msgrd?V=1&amp;Uin=2284865062&amp;Site=厦门信达物联科技有限公司&amp;Menu=yes"
                                            target="_blank">
                                            <img alt="点击这里给我发送消息" src="gywm_files/button_old_11.gif"
                                                border="0"></a></td>
                                </tr>
                                <tr>
                                    <td height="5" align="center"
                                        style="font-size: 11px;">客服QQ2:6556466</td>
                                </tr>
                                <tr>
                                    <td height="38" align="center" valign="top"
                                        style="font-size: 12px;"><a href="http://wpa.qq.com/msgrd?V=1&amp;Uin=6556466&amp;Site=厦门信达物联科技有限公司&amp;Menu=yes"
                                            target="_blank">
                                            <img alt="点击这里给我发送消息" src="gywm_files/button_old_11(1).gif"
                                                border="0"></a></td>
                                </tr>
                                <tr>
                                    <td height="5" align="center"
                                        style="font-size: 11px;">客服QQ3:763708755</td>
                                </tr>
                                <tr>
                                    <td height="38" align="center" valign="top"
                                        style="font-size: 12px;"><a href="http://wpa.qq.com/msgrd?V=1&amp;Uin=763708755&amp;Site=厦门信达物联科技有限公司&amp;Menu=yes"
                                            target="_blank">
                                            <img alt="点击这里给我发送消息" src="gywm_files/button_old_11(2).gif"
                                                border="0"></a></td>
                                </tr>
                                <tr>
                                    <td height="5" align="center"
                                        style="font-size: 11px;">客服QQ4:5520551</td>
                                </tr>
                                <tr>
                                    <td height="38" align="center" valign="top"
                                        style="font-size: 12px;"><a href="http://wpa.qq.com/msgrd?V=1&amp;Uin=5520551&amp;Site=厦门信达物联科技有限公司&amp;Menu=yes"
                                            target="_blank">
                                            <img alt="点击这里给我发送消息" src="gywm_files/button_old_11(3).gif"
                                                border="0"></a></td>
                                </tr>
                                <tr>
                                    <td height="38" align="center" valign="top"
                                        style="font-size: 12px;">
                                        <script src="" type="text/javascript"></script>

                                        <script src="" type="text/javascript"></script>

                                        <div id="Microsoft_Live_Messenger_PresenceButton_b9f32427c8264c55"
                                            msgr:conversationurl="http://settings.messenger.live.com/Conversation/IMMe.aspx?invitee=b9f32427c8264c55@apps.messenger.live.com&amp;mkt=en-US&amp;useTheme=true&amp;themeName=blue&amp;foreColor=333333&amp;backColor=E8F1F8&amp;linkColor=333333&amp;borderColor=AFD3EB&amp;buttonForeColor=333333&amp;buttonBackColor=EEF7FE&amp;buttonBorderColor=AFD3EB&amp;buttonDisabledColor=EEF7FE&amp;headerForeColor=0066A7&amp;headerBackColor=8EBBD8&amp;menuForeColor=333333&amp;menuBackColor=FFFFFF&amp;chatForeColor=333333&amp;chatBackColor=FFFFFF&amp;chatDisabledColor=F6F6F6&amp;chatErrorColor=760502&amp;chatLabelColor=6E6C6C"
                                            msgr:forecolor="#424542" msgr:altbackcolor="#FFFFFF" msgr:backcolor="#77ADCF"
                                            msgr:width="100">
                                        </div>
                                        <script src="" type="text/javascript"></script>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="38" align="center" valign="top"
                                        style="font-size: 12px;"><a href="skype:Jennyfan-Codetag?call">
                                            <img
                                                src="gywm_files/Jennyfan-Codetag.png"
                                                border="0">Jennyfan-Codetag</a></td>
                                </tr>
                                <tr>
                                    <td height="38" align="center" valign="top"
                                        style="font-size: 12px;"><a href="skype:abbywuchina?call">
                                            <img src="gywm_files/abbywuchina.png"
                                                border="0">abbywuchina</a></td>
                                </tr>
                                <tr>
                                    <td height="38" align="center" valign="top"
                                        style="font-size: 12px;"><a href="skype:wzrlsg?call">
                                            <img src="gywm_files/wzrlsg.png"
                                                border="0">wzrlsg</a></td>
                                </tr>
                                <tr>
                                    <td align="middle">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>*@
                <tr>
                    <td class="down_kefu" valign="top"></td>
                </tr>
            </tbody>
        </table>
        <div class="Obtn"></div>
    </div>
   @* <script language="javascript">客服果果 = function (id, _top, _left) {
    var me = id.charAt ? document.getElementById(id) : id, d1 = document.body, d2 = document.documentElement;
    d1.style.height = d2.style.height = '100%'; me.style.top = _top ? _top + 'px' : 0; me.style.left = _left + "px";//[(_left>0?'left':'left')]=_left?Math.abs(_left)+'px':0;
    me.style.position = 'absolute';
    setInterval(function () { me.style.top = parseInt(me.style.top) + (Math.max(d1.scrollTop, d2.scrollTop) + _top - parseInt(me.style.top)) * 0.1 + 'px'; }, 10 + parseInt(Math.random() * 20));
    return arguments.callee;
};
        window.onload = function () {
            客服果果
            ('xixi', 10, -152)
        }
    </script>*@

    <script language="javascript">
        lastScrollY = 0;

        var InterTime = 1;
        var maxWidth = -1;
        var minWidth = -152;
        var numInter = 8;

        var BigInter;
        var SmallInter;

        var o = document.getElementById("xixi");
        var i = parseInt(o.style.left);
        function Big() {
            if (parseInt(o.style.left) < maxWidth) {
                i = parseInt(o.style.left);
                i += numInter;
                o.style.left = i + "px";
                if (i == maxWidth)
                    clearInterval(BigInter);
            }
        }
        function toBig() {
            clearInterval(SmallInter);
            clearInterval(BigInter);
            BigInter = setInterval(Big, InterTime);
        }
        function Small() {
            if (parseInt(o.style.left) > minWidth) {
                i = parseInt(o.style.left);
                i -= numInter;
                o.style.left = i + "px";

                if (i == minWidth)
                    clearInterval(SmallInter);
            }
        }
        function toSmall() {
            clearInterval(SmallInter);
            clearInterval(BigInter);
            SmallInter = setInterval(Small, InterTime);

        }

    </script>

    
</body>
</html>
