@model List<Business.Article>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=10.000"
        http-equiv="X-UA-Compatible">
    <title>天津慧通科技有限责任公司</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="天津慧通科技有限责任公司">
    <meta name="description" content="天津慧通科技有限责任公司">
    <meta name="author" content="Andy-Du">
    <link href="~/gywm_files/css.css" rel="stylesheet" type="text/css">
    <link href="~/index_files/css.css" rel="stylesheet" type="text/css">
     <script>
         var _hmt = _hmt || [];
         (function () {
             var hm = document.createElement("script");
             hm.src = "//hm.baidu.com/hm.js?35a2a30b7691835a67e92add2c83201d";
             var s = document.getElementsByTagName("script")[0];
             s.parentNode.insertBefore(hm, s);
         })();
</script>
    <script language="javascript" src="~/gywm_files/AC_RunActiveContent.js"></script>

    <script language="javascript" src="~/gywm_files/swfobject.js"></script>

    <script src="~/gywm_files/jquery.js" type="text/javascript"></script>

    <script src="~/gywm_files/jqueryslidemenu.js" type="text/javascript"></script>

    <script language="javascript" src="~/gywm_files/MSClass.js"></script>

    <script src="~/gywm_files/swfobject(1).js" type="text/javascript"></script>


    <script src="~/gywm_files/common.js" type="text/javascript"></script>

    <meta name="GENERATOR" content="MSHTML 10.00.9200.16384">
   

</head>
<body>
    <div class="headerdu" style='background: url(&quot;images/cx.jpg&quot;) repeat-x top rgb(255, 255, 255); margin: 0px auto; max-width: 1160px;'>
        <!-- #BeginLibraryItem "/Library/index menu top.lbi" -->
        <div class="logo">
            <div style="width: 200px; float: left;">
                <a href="/Home">
                    <img
                        width="188" height="63" alt="" src="index_files/cx_03.jpg" border="0"></a>
            </div>
            <div id="header">
                <div class="jqueryslidemenu" id="myslidemenu">
                    <ul>
                        <li><a href="/Home">首页</a></li>
                        @foreach (var item in Model)
                        {
                            if (item.ParentID == 0 && item.Title != "新闻中心")
                            {
                            <li><a href="/@item.Text?ParentID=@item.ID">@item.Title</a>
                                <ul>
                                    @foreach (var itemChildren in Business.BLL.ArticleBLL.Instance.Where("ParentID=@ParentID and state=1").Parms(item.ID).OrderBy("Sort Asc").ListAll())
                                    {
                                        <li><a href="/@item.Text/Detail?ID=@itemChildren.ID&ParentID=@itemChildren.ParentID">@itemChildren.Title</a></li>
                                    }
                                </ul>
                            </li>
                            }
                        }
                    </ul>

                </div>
            </div>
        </div>
        <!-- #EndLibraryItem -->
        <!-- #BeginLibraryItem "/Library/sousuo.lbi" -->
        <div style="margin: 0px auto; width: 963px; height: 43px;">
            <div style="width: 210px; margin-top: 2px; margin-right: 5px; float: right; display: block; border: 1px solid #ececec">
                <script language="JavaScript" type="text/javascript">
                    function search_OnSubmit() {
                        var KeyWord = get("KeyWord").value;
                        if (KeyWord <= 1) { alert("输入产品名称进行搜索"); return false; }
                    }
                </script>

                <form style="margin: 0px; padding: 0px;" onsubmit="javascript:return search_OnSubmit(this);"
                    action="/Product" method="get">
                    <input type="hidden" name="ParentID" value="1" />
                    <table width="210" height="25" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="184" height="25" style='padding-left: 5px; background-image: url(&quot;images/cx_09.jpg&quot;); background-repeat: no-repeat;'>
                                    <input
                                        name="TiTle" class="input1" id="KeyWord" onfocus="if (this.value=='输入产品名称进行搜索') this.value='';"
                                        type="text" value="输入产品名称进行搜索"></td>
                                <td width="26" align="center">
                                    <input name="submit" align="absmiddle" type="image"
                                        src="index_files/cx_10.jpg"
                                        img="img"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <!-- #EndLibraryItem -->
        <div style="clear: both;"></div>
        <div class="cnen">
            <img src="~/index_files/cen_bg.jpg" width="963" height="38" />
        </div>
        <div class="bannarspicus">
            <img width="963" height="200"
                src="~/@((ViewBag.Entity as Business.Article).Description)">
        </div>
        <div class="maintext">
