@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>天津慧通科技有限责任公司-网站后台</title>
    <link rel="stylesheet" href="css/style.default.css" type="text/css">
    <script type="text/javascript" src="../../Plug/AmaAdmin/js/plugins/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="../../Plug/AmaAdmin/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="../../Plug/AmaAdmin/js/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../Plug/AmaAdmin/js/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="../../Plug/AmaAdmin/js/plugins/jquery.flot.min.js"></script>
    <script type="text/javascript" src="../../Plug/AmaAdmin/js/plugins/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="../../Plug/AmaAdmin/js/plugins/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="../../Plug/AmaAdmin/js/custom/general.js"></script>
    <script type="text/javascript" src="../../Plug/AmaAdmin/js/custom/dashboard.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/plugins/excanvas.min.js"></script><![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
<![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
<![endif]-->
    <!--[if lt IE 9]>
	<script src="js/plugins/css3-mediaqueries.js"></script>
<![endif]-->
</head>

<body class="withvernav">
    <div class="bodywrapper">
       @Html.Action("Top","Admin")
       
         <div class="centercontent"> 
          
         sdgf


        </div>
        <!-- centercontent -->


    </div>
    <!--bodywrapper-->



    <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; top: 0px; left: 0px; display: none;"></ul>
    <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
</body>
</html>
